body {
    margin: 5;
}
h1 {
    font-size: 35px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #000000;
}
p {
    font-size: 40px;
    margin: 0;
    padding: 20px 5px;
    color: #000000;
}
li {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 30px ;
    color: black ;
}
